/*https://coolors.co/453643-28112b-5c946e-e5ebea-ea9010*/

body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: url(../img/ballesta_cursor.png), auto;
    background-image: url(../img/fondo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*header*/
header {
    text-align: center;
}

header #titulo {
    margin-top: 5px; /* Ajustar margen superior */
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#contenedortitulo{
    display: flex; /* Utilizar flexbox */
    align-items: center; /* Centrar elementos verticalmente */
    justify-content: center;
    padding: 5px;
    background-color: #3d6af2;
}

#logo {
    margin-top: 5px; /* Ajustar margen superior */
    height: 75px;
}

nav {
    padding: 15px;
    background-color: #255cff;
    text-align: center;
    margin-bottom: 10px;
}

nav a {
    padding: 5px;
    text-decoration: none;
    color: white;
    margin-right: 3vw;
    font-size: 17px;
    background-color: #0040ff;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

nav a:hover {
    transform: scale(1.2);
}

#principal{
    text-align: center;
}


/*section principal*/
#principal h1{
    font-size: 50px;
    margin-top: 75px; 
}

#principal p{
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    font-weight: bold;
}


/*section informacion*/
#informacion{
    background-color: #E5EBEA;
    padding-top: 5px;
}


section h2{
    padding-top: 20px;
    margin-top: 30px;
    margin-left: 10px;
    font-size: 20px;
    border-bottom: solid 2px #28112B;
    padding-bottom: 5px;
    margin-right: 10px;
    color: black;
}

span{
    font-weight: bold;
}

/*Grid del parrafo y la imagen en la vista del movil*/
.contenedor_grid{
    display: grid; /*Utilizo el display:grid para establecer que va a haber grid ahí*/
    grid-template-columns: 1fr; /*Como solo hay una columna, pongo 1fr. Si hubieran dos podría poner: 1fr 1fr por ejemplo*/
    grid-template-areas:
    "izquierda"
    "derecha";
    gap: 10px;
    max-width: 100vw;
}

#fotoinicio{
    width: 200px;
    margin-top: 10px;
}

.parrafos{
    margin-right: 10px;
    margin-left: 10px;
    grid-area: izquierda;
    font-size: 12px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.imagen{
    text-align: center;
    margin-bottom: 50px;
}

#mundo{
    width: 75%;
    border: solid 3px;
    margin-top: 10px;
}

.foto{
    grid-area: derecha;
}

#contenedorvideo{
    background-color: #83bdff;
    padding-right: 10px;
    margin-top: -50px;
    padding-bottom: 20px;
}

video{
    width: 85vw;
    border: solid 2px;
}

#video{
    text-align: center;
    grid-area: derecha; /*En la tablet y pc le he puesto a este izquierda y al otro derecha, osea al reves, para cambiarlo y poner el video a la izquierda, así queda mejor*/
}

#descarga{
    text-align: center;
    grid-area: izquierda;
}

#descarga h3{
    font-size: 14px;
}

#descarga p{
    font-size: 12px;
}

#boton{
    text-align: center;
    margin-bottom: 50px;
}

#botondescargar{
    font-size: 14px;
    padding: 10px;
    margin-top: 15px;
    font-weight: bold;
    background: linear-gradient(45deg, #26ff00, #ffffff);
    cursor: pointer;
    animation: tamanio 2s infinite;
}

#botondescargar:hover {
    animation: rotar 1s infinite linear;
}

@keyframes tamanio { /*El boton aumenta y disminuye su tamaño sin parar*/
    0% { transform: scale(1); }
    25% { transform: scale(1.1) rotate(10deg); }
    50% { transform: scale(1); }
    75% { transform: scale(1.1) rotate(-10deg); }
    100% { transform: scale(1); }
}

@keyframes rotar { /*Rota el boton cuando tienes el raton encima de él*/
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

footer{
    background-color: #3d6af2;
    padding: 30px;
    text-align: center;
}

footer p{
    font-size: 14px;
}

#formulario{
    margin-top: 50px;
    padding: 10px;
    background: radial-gradient(circle, #ffffff, #4ba2ff);
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 2vw;
    border: solid 2px;
    outline: solid 1px blue; /*Borde exterior*/
    margin-bottom: 10vw;
}

input, textarea{
    width: 97%;
}

#botonenviar{
    font-size: 14px;
    padding: 10px;
    margin-top: 15px;
    font-weight: bold;
    background: linear-gradient(45deg, #00c8ff, #ffffff);
    cursor: pointer;
    transition: transform 0.3s ease;
}

#botonenviar:hover{
    transform: scale(1.1);
    background: linear-gradient(45deg, #ffffff, #00c8ff);
}

.fotos{ /*Fotos de la guía, otra forma de ponerlas bien sin el grid, con el flex*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fotos img{
    width: 60vw;
    margin-bottom: 15px;
    border-radius: 10px;
    border: solid 3px;
}

@media only screen and (min-width: 768px) {  
    .contenedor_grid{
        display: grid; /*Utilizo el display:grid para establecer que va a haber grid ahí*/
        grid-template-columns: 2fr; /*Como solo hay una columna, pongo 1fr. Si hubieran dos podría poner: 1fr 1fr por ejemplo*/
        grid-template-areas:
        "izquierda derecha";
        gap: 5vw;
        max-width: 100vw;
        margin-right: 2vw;
    }

    header{
        padding: 5px;
        background-color: #3d6af2;
        display: flex;
        flex-direction: row;
    }
    
    header #titulo {
        margin-top: 5px; /* Ajustar margen superior */
        font-size: 30px;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

    #contenedortitulo{
        padding: 0px;
        background-color: #3d6af2;
    }
    
    #logo{
        margin-left: 1px;
        height: 75px;
    }
    
    nav{
        margin-left: 6vw;
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        padding: 0px;
        background-color: #3d6af2;
    }

    nav a {
        padding: 5px;
        text-decoration: none;
        color: white;
        font-size: 20px;
        background-color: #0040ff;
        border-radius: 5px;
        transition: transform 0.3s ease;
    }
    
    nav a:hover{
        transform: scale(1.2);
    }
    
    
    /*section principal*/
    #principal{
        margin-top: 20vh;
        margin-bottom: 20vh;
    }
    
    #principal h1{
        font-size: 5vw;
    }
    
    #principal p{
        font-size: 14px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 50px;
        font-weight: bold;
    }
    
    
    /*section informacion*/
    #informacion{
        background-color: #E5EBEA;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
    }
    

    section h2{
        padding-top: 25px;
        margin-top: 30px;
        margin-left: 10px;
        font-size: 20px;
        border-bottom: solid 2px #28112B;
        padding-bottom: 5px;
        margin-right: 10px;
        color: black;
    }
    
    
    #fotoinicio{
        width: 20vw;
        margin-top: 50px;
        margin-right: 10vw;
    }
    
    .parrafos{
        margin-right: 3vw;
        margin-left: 10px;
        grid-area: izquierda;
        font-size: 14px;
        color: black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .imagen{
        text-align: center;
    }
    
    #mundo{
        width: 40vw;
        border: solid 3px;
        margin-top: 10px;
    }
    
    .foto{
        grid-area: derecha;
        text-align: center;
    }

    video{
        width: 40vw;
        margin-left: 15px;
    }

    #video{
        text-align: center;
        grid-area: izquierda;
    }

    #descarga{
        grid-area: derecha;
    }

    #descarga h3{
        font-size: 16px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    #descarga p{
        font-size: 14px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    #boton{
        text-align: center;
        margin-bottom: 50px;
    }
    
    #botondescargar{
        font-size: 16px;
    }

    footer p{
        font-size: 16px;
    }

    #formulario{
        margin-top: 100px;
        padding: 15px;
        background: radial-gradient(circle, #ffffff, #4ba2ff);
        margin-left: 20vw;
        margin-right: 20vw;
        border-radius: 2vw;
        border: solid 2px;
        outline: solid 1px blue; /*Borde exterior*/
    }
    
    input, textarea{
        width: 97%;
    }

    .fotos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .fotos img{
        width: 25vw;
        margin: 7px;
    }
}

@media only screen and (min-width: 1024px) {  
    .contenedor_grid{
        display: grid; /*Utilizo el display:grid para establecer que va a haber grid ahí*/
        grid-template-columns: 2fr; /*Como solo hay una columna, pongo 1fr. Si hubieran dos podría poner: 1fr 1fr por ejemplo*/
        grid-template-areas:
        "izquierda derecha";
        gap: 5vw;
        max-width: 100vw;
        margin-right: 2vw;
    }
    nav{
        margin-left: 30vw;
        display: flex;
        align-items: center;
        margin-bottom: 0px;
        padding: 0px;
        background-color: #3d6af2;
    }
    nav a {
        padding: 5px;
        text-decoration: none;
        color: white;
        font-size: 20px;
        background-color: #0040ff;
        border-radius: 5px;
        transition: transform 0.3s ease;
    }
    #mundo{
        width: 40vw;
    }
    #principal p{
        font-size: 16px;
    }
    .parrafos{
        font-size: 16px;
    }
    section h2{
        font-size: 24px;
    }

    #descarga h3{
        font-size: 18px;
    }
    
    #descarga p{
        font-size: 16px;
    }
    
    #boton{
        text-align: center;
        margin-bottom: 50px;
    }
    #botondescargar{
        font-size: 18px;
    }

    #formulario{
        margin-top: 150px;
        padding: 20px;
        background: radial-gradient(circle, #ffffff, #4ba2ff);
        margin-left: 30vw;
        margin-right: 30vw;
        border-radius: 2vw;
        border: solid 2px;
        outline: solid 1px blue; /*Borde exterior*/
    }
    
    input, textarea{
        width: 97%;
    }

}

